/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding: 10px;
   /* Covers entire browser
   padding: 0;
   margin: 0;
   */
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px 10px 0px 10px;
   text-align: left;
   background-color: cadetblue;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: left;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

/* CSS Layout from W3Schools: @author https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   overflow: hidden;
   background-color: #333;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

 }
 
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 /* Style the Search box inside the the navigation bar */
 .topnav input[type=text] {
   float: right;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   font-size: 17px;
 }
 
 /* Style the content */
 .content {
   /*background-color: #ddd;*/
   background-color: white;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #333;
   padding: 10px;
   position: relative;
  /*left: 0;*/
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
 }
 /*background-color: #cccccc;*/



/* Additional Things Added ----------------------------------------------------*/ 



/* CSS Column from W3Schools: @author https://www.w3schools.com/howto/howto_css_three_columns.asp */
/* Column */
 .column {
   float: left;
   width: 33.33%;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .column1 {
  text-align: center;
 }

 .HPtitle {
  text-align: center;
 }
 
/* CSS Row from W3Schools: @author https://www.w3schools.com/howto/howto_css_three_columns.asp */
/* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }



 /* CSS Link Colour  from W3Schools: @author https://www.w3schools.com/html/html_links_colors.asp */
 .footerlink {
  padding: 10px;
 }
 .footerlink a{
  color: #f2f2f2;
  background-color: transparent;
  text-decoration: none;
 }
 .footerlink a:hover {
  color: orangered;
  background-color: transparent;
  text-decoration: underline;
}


.breadcrumbs {
  padding: 10px 10px 10px 45px;
  background-color: #bdbdbd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.breadcrumbs a{
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: firebrick;
  background-color: transparent;
  text-decoration: underline;
}



.header a{
  color: black;
  background-color: transparent;
  text-decoration: none;
 }



 /* Header (div) formatting */
.header2 {
  padding: 10px;
  text-align: center;
  background-color: #cccccc;
  color: #000000;
}
.header2 h2 {
  font-size: 35px;
}



.footerlink2 {
  padding: 10px 10px 0px 10px;
  text-align: left;
 }
 .footerlink2 a{
  color: #f2f2f2;
  background-color: transparent;
  text-decoration: none;
 }




 .column2 {
  float: left;
  width: 50%;
}
.column50NoChange {
  float: left;
  width: 50%;
}



.column-66 {
  float: left;
  width: 66.66%;
}

.column-33 {
  float: left;
  width: 33.33%;
}



table.center {
  margin-left: auto; 
  margin-right: auto;
}


.divScroll {
  overflow: auto;
  max-width: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 53%;
}





.content {
  /*. height: 100%;*/
  padding: 15px 50px 50px 50px;
  margin: 0% 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
  padding: 0;
  margin: 0;
  background-color: #ededed;

  /* website fits browser resolution */
  width:100%;
  min-width:1000px;
  height:auto;
}


  
tbody tr:nth-child(even) {background: #f3ebdd;}

tbody tr:hover {   background-color: #333;
  color: #f2f2f2;}


/*
* @author Code Isshin, YouTube Link: https://youtu.be/tYdlt9q6Iug
* GitHub Link: https://github.com/zangetsu-isshin/dropdown-filter/tree/main
*/ /* Formatting of table: */  
table {
  min-width: max-content;
  
  border-collapse: separate;
  border-spacing: 0px;    
}
.table-filter {
  border-radius: 5px;
}
table th{
  position: sticky; 
  top: 0px;
  
  background-color: #333;
  color: rgb(241, 245, 179);
  
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  outline: 0.7px solid black;
  border: 1.5px solid black;
} 
table th, table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
table td {
  text-align: left;
  
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  padding-left: 20px;
}




/* Un-columns the columns once the width of the browser is less than 1100px */
/* @author https://www.w3schools.com/howto/howto_css_zig_zag_layout.asp */
/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1100px) {
  .column, .column2, .column-33, .column-66 {
    width: 100%;
    text-align: center;
  }
}


/* Makes the width of labels, input, select the same and inline */
.form-group label {
  display: inline-block;
  width: 25%;
}
.form-group input {
  display: inline-block;
  width: 25%;
}
.form-group select {
  display: inline-block;
  width: 25%;
}



/* @author https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* @author https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
  background-color: #333;
  color: #f2f2f2;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333;
  color: #f2f2f2;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: gray;}



/* Allowa pictures to be shown in div, where text is then centred */
/* @author https://www.w3schools.com/howto/howto_css_navbar_image.asp */
.bg-img {
  /* The image used */
  background-image: url("test.jpg");

 /* min-height: 380px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
/*	padding-top: 100px; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.effect8 {
  text-align: center;
}
